<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.ihuoniao.function">

    <application
            android:allowBackup="true">

        <activity android:name=".activity.LogActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                  android:label="@string/debug_name"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:noHistory="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1105976281"/>
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.connect.common.AssistActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

    </application>

</manifest>
